*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    background-color: gray;
    /* background-image: url(assets/MicrosoftTeams-image.png); */
    background-image: url(assets/new.jpg);
    background-repeat:inherit;
}

.logo{
    width: 60px;
}

.title{
    color: black;
    font-weight: 900;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
    padding-top: 100px;
}

.top{
    background-color: black;
    width: auto;
}

.searchbox{
    padding-left: 100px;
    padding-top: 10px;
    margin-left: 300px;
    border-radius: 5px;
}

.container{
    display: flex;
    width: 100%;
    margin-bottom: 20%;
    
    /* margin: 0 auto; */
    
}

.side{
    width: 20%;
    /* border-color: white; */
    /* border: 2px solid gray; */
    color: white;
    background-color: none
    ;
    margin: 40px;


}

.main{
    width: 100%;
    margin-left: 30%;
    margin-top: 30px;
    padding: 80px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: red;
}
.lists li{
    margin-top: 70px;
}

.label{
    border-radius: 20px;
}

.homepage{
    margin-left: 80px;
    color: white;
}